<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this Article from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" col="20">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  
  <div class="field">
    <%= f.label :scope, "공개범위"%>
    <%= f.radio_button :scope, 1%>
    비공개
    <%= f.radio_button :scope, 2%>
    친구공개
    <%= f.radio_button :scope, 3%>
    전체공개
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
